EmployeeService/EmployeeFixtures/Service References/EmployeeServiceReference/EmployeeManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="tns:ArrayOfRemark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemarkDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemarkText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
  <xs:complexType name="InvalidNameValueFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidNameValueFault" nillable="true" type="tns:InvalidNameValueFault" />
  <xs:complexType name="InvalidNameSizeFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidNameSizeFault" nillable="true" type="tns:InvalidNameSizeFault" />
  <xs:complexType name="InvalidIdValueFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidIdValueFault" nillable="true" type="tns:InvalidIdValueFault" />
  <xs:complexType name="InvalidRemarkValueFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidRemarkValueFault" nillable="true" type="tns:InvalidRemarkValueFault" />
  <xs:complexType name="InvalidRemarkSizeFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidRemarkSizeFault" nillable="true" type="tns:InvalidRemarkSizeFault" />
  <xs:complexType name="EmployeeAlreadyExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeAlreadyExistsFault" nillable="true" type="tns:EmployeeAlreadyExistsFault" />
  <xs:complexType name="ResultNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultNotFoundFault" nillable="true" type="tns:ResultNotFoundFault" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>