EmployeeService/EmployeeFixtures/Service References/EmployeeServiceReference/EmployeeManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="tns:ArrayOfRemark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemarkDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemarkText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
  <xs:complexType name="EmployeeAlreadyExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeAlreadyExistsFault" nillable="true" type="tns:EmployeeAlreadyExistsFault" />
  <xs:complexType name="InvalidNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidNameValue" nillable="true" type="tns:InvalidNameValue" />
  <xs:complexType name="InvalidNameSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidNameSize" nillable="true" type="tns:InvalidNameSize" />
  <xs:complexType name="InvalidIdValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidIdValue" nillable="true" type="tns:InvalidIdValue" />
  <xs:complexType name="InvalidRemarkValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidRemarkValue" nillable="true" type="tns:InvalidRemarkValue" />
  <xs:complexType name="InvalidRemarkSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidRemarkSize" nillable="true" type="tns:InvalidRemarkSize" />
  <xs:complexType name="ResultNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultNotFoundFault" nillable="true" type="tns:ResultNotFoundFault" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>